html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* https://cssgradient.io/ */
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    text-align: center;
}
p {
    font-size: 1.5em;
    color: white;
}
h1 {
    font-size: 2em;
    color: rgb(213, 255, 74);
}