body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#tekst {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}