@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.kort {
    position: relative;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid black;
}

.kort > h1 {
    padding: 0;
    margin: 10px;
}

.kort > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 10rem;
}

#dealer,
#hånd {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    max-width: fit-content;
}

.total {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
}



#knapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.knapp {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease;
}

.knapp:hover {
    background-color: black;
    color: white;
}

/* Fått hjep av chat med dette */
.fullscreen-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    z-index: 9999;
}

.popup-knapp {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background: white;
    color: black;
    transition: all 0.2s ease;
}
.popup-knapp:hover {
    background: rgba(255, 255, 255, 0.104);
    color: rgb(255, 255, 255);
}